$bgcolor: #ffffff;
$color: #ffffff;
$maincolor: #409EFF;
$bgimgurl: '../../common/img/';
$minwidth: 1200px;
.fl{float: left;}
.fr{float: right;}
.fc{ color: $color}
.fm{ color: $maincolor}
@mixin center($width:null,$height:null){
    position: absolute;
            top: 50%;
            left: 50%;
    @if $width and $height {
        width: $width;
        height: $height;
        margin: -($height / 2) #{0 0} -($width / 2);   

    } @else if not $width and not $height {
        transform: translate(-50%,-50%);
    } @else if not $width {
        height: $height;
        margin-top: -(height / 2);
        transform: translateX(-50%); 
    } @else {
        width: $width;
        margin-top: -(width / 2);
        transform: translateY(-50%); 
    }
}